{{> head }}
{{> navbar }}
    <div class="row">
        
        <div class="col-8">
            <h1>columna 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, consequatur omnis. Vel, recusandae aliquam necessitatibus quisquam officia iste beatae doloremque in obcaecati distinctio quaerat error, repellat quo alias delectus harum!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/Jellyfish.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}